<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
        .haha-leave-active {
          transition: opacity .5s;
        }
        .haha-leave-to /* .fade-leave-active below version 2.1.8 */ {
          opacity: 0;
        }
        #demo{
          position: relative;
          width: 200px;
          height: 200px;
          margin: auto;
          top: 100px;
        }
        .bug{
          position: relative;
          opacity: 1 important;
        }
    </style>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>
<body>
    <div id="demo">
      <button v-on:click="show = !show">点击</button>
      <transition name="haha">
          <div class="bug" v-if="show">你好</div>
      </transition>
    </div>
    <script type="text/javascript">
        new Vue({
          el: '#demo',
          data: {
            show: true
          }
        })
    </script>
</body>
</html>